@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.introBG {
  display: flex;
  flex-direction: column;
  height: 60vh;
  padding: 48px 24px 35px;
}

.homeWeapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  /* height: 100; */
  justify-content: center;
  margin: 0 auto;
  max-width: 940px;
}

.homeTitle {
  font-size: 26px;
  line-height: 1;
  margin-bottom: 12px;
  text-align: center;
  font-family: 'Roboto';
  color: #6441a5;
}

.homeText {
  border-top: 2px solid #6441a5;
  color: #7a50c8;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 24px;
  padding-top: 12px;
  text-align: center;
  width: 60%;
}

.areaSeta {
  text-align: center;
  max-height: 10rem;
}

.seta {
  background: url(../Assets/seta2.svg) no-repeat center center;
  border: 0;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  padding-top: 10rem;
  width: 25px;
  height: 25px;
}

.streamersBG {
  background-color: #a270ff;
  box-shadow: inset 0 40px #fff, inset 0 -40px #fff;
}

.streamersInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 101px;
}

.imagem {
  background: url('../Assets/stream.jpg');
  background-size: cover;
  width: 600;
  height: 890;
}

.conteudo {
  padding-top: 160px;
  padding-bottom: 160px;
}

.setaCont {
  background: url('../Assets/dec.svg') no-repeat bottom right;
  padding-right: 14rem;
}

.graficosBG {
  padding-top: 100px;
}

@media (max-width: 900px) {
  .streamersBG {
    box-shadow: initial;
  }
  .streamersInfo {
    grid-template-columns: 1fr;
    height: 800px;
  }
  .imagem {
    display: none;
  }
  .conteudo {
    padding-top: 60px;
    padding-bottom: 60px;
    align-self: center;
    text-align: center;
  }
  .setaCont {
    display: none;
  }
}
